schedule
selenium
langchain
openai
slack_sdk
python-dotenv
langchain_community
beautifulsoup4
google-generativeai
pandas
discord.py
langchain-google-genai
PyNaCl
ipython
PyQt6
sentence-transformers
faiss-cpu